@{
  Layout = "_Layout";
}

@using ToDoList.Models;
@model List<ToDoList.Models.Item>;

<h1>Items</h1>

@if (@Model.Count == 0)
{
  <h3>No items have been added yet!</h3>
} 

@using (Html.BeginForm())
{
  @foreach (var i in Model)
  {
    <label>
        @if (i.Completed)
        {
          @Html.CheckBox(i.Description, new { value = i.ItemId, @checked = "" })
        }
        else
        {
          @Html.CheckBox(i.Description, new { value = i.ItemId })
        }

        @i.Description
    </label>
    <br />
  }
  <input type="submit" value="Mark Completed" />
}

<p>@Html.ActionLink("Add new item", "Create")</p>